---
layout: default
---

<script type="application/ld+json">
{ "@context": "https://ngorchakova.github.io/jvmwarstories", 
 "@type": "Blog",
 "keywords": "java scala spark streaming jvm hadoop kafka performance", 
 "url": "https://ngorchakova.github.io/jvmwarstories",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://ngorchakova.github.io/jvmwarstories"
  },
 "author": {
    "@type": "Person",
    "name": "Natalia Gorchakova",
    "sameAs": [
        "https://www.linkedin.com/in/natalia-gorchakova-7913603",
        "https://github.com/ngorchakova"
    ]
  }
 }
</script>

<div class="home">

  <h1 class="post-title">Articles</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
        </h2>
         
      </li>

    {% endfor %}
  </ul>

{% include pagination.html %}